* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    background-color: #DBDFE1;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

.Calculadora {
    display: inline-block;
    text-align: center;
    margin: 180px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
}

.Resultado {
    font-size: 40px;
    margin-top: 20px;
}