footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-icon {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 10px;
}

.social-icon:hover {
    color: #84c8d1;
}