/*Fondo del navbar*/
.navbar {
  background-color: #052c53;
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
}

/*Estilos para el logo */
.navbar-brand img {
  width: 30%;
  height: auto;
}

.navbar-nav .nav-link {
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  margin-right: 30px;
  padding-bottom: 8px;
}

/* Hover del navbar*/
.navbar-nav .nav-link:hover {
  transform: scale(1.02);
  border-bottom: 2px solid #6da0a6;
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
    color: #6da0a6;
}

/* Botón del navbar*/
.navbar-nav .btn {
  font-size: 13px;
}

