body{
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    background-color: #DBDFE1;
    min-height: 100vh;
    position: relative;
}

.text-center{
    font-weight: bold;
}

#hola{
    background-color: beige;
}
